:root {
    --background: #FFFFFA;
    --navbar-background: #78CDD7;
    
}


.navbar {
    background-color:var(--navbar-background);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar button {
    background-color: #78CDD7;
    margin: auto;
    font-size: 2em;
    font-family: Times;
}
.navbar button:hover {
    background-color: #44A1A0;
    margin: auto;
    font-size: 2em;
    font-family: Times;
}

body {
    background-color: var(--background);
    font-family: Arial;
}

.about {
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
.about-box {
    width: 30%;
    height: 100px;
    background-color: var(--navbar-background);
    border: 2px solid #000000;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}